<div >
<h1 class="text-center mt-4">Listing all articles</h1>

<div class="text-center mt-4">
	<%= link_to 'Create new article', new_article_path %> | <%= link_to 'Back to home page', root_path %>
</div>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

 <%= render 'article-listing' %>
</div>