
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4"> This is home page </h1>
    <p class="lead">
		<%= link_to 'Go to articles listing page', articles_path %> | 
		<%= link_to 'Go to about page', about_path %>	
	</p>
  </div>
</div>