<div class="container">
    <% flash.each do |key, msg| %>
        <div class="alert alert-primary" role="alert">
            <%= msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible" role="alert">
    <% end %>
</div>